@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}

body {
    background: linear-gradient(15deg, #4AB1FF, #2D5CFE);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.form{
    width: auto;
    height: auto;
    padding: 20px;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: #fff;
}

.form .text{
    display: flex;
    align-items: center;
    flex-direction: column;
    color:black;
}

.form .main{
    display: flex;
    /* align-items: center; */
    padding: 10px;
    border-radius: 5px;
    background: white;
    justify-content:space-between;
    flex-direction: column;
    align-items: center;
    
}

.form .main #username{
    padding: 10px;
    border-radius: 3px;
    border: 2px solid rgb(105, 97, 97);
    font-size: 16px;
    width: 300px;
}


form .main #login-btn{
    padding: 5px;
    width: 300px;
    border-radius: 3px;
    background: linear-gradient(135deg, #4AB1FF, #2D5CFE);
    outline: none;
    /* margin-left: 250px; */
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    opacity: 0.9;
    pointer-events: all;
}
